@import url("https://woomy.be/style/schemes/dark.css");
@import url("https://woomy.be/style/schemes/light.css") (prefers-color-scheme: light);

@font-face {
  font-family: 'Iosevka';
  src: url(../fonts/iosevka-regular.woff2) format('woff2');
}

body, p, span {
  background-color: var(--background);
  color: var(--onBackground);
  font-family: "Iosevka", 'Material Symbols Outlined', monospace;
  text-align: center;
}

form {
  background-color: var(--primary);
  color: var(--onPrimary);
  width: 75%;
  height: 44px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 30px;
  border: 2px solid var(--outline);
}

::placeholder {
  color: var(--onPrimary);
}

input {
  all: unset;
  color: var(--onPrimary); 
  caret-color: var(--onPrimary);
  height: 100%;
  width: 100%;
}

a {
  color: var(--secondary);
}

a span {
  font-size: inherit;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
